.cartContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}

.container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  position: relative;
  padding: 2rem;
}

.backAndCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  background-color: rgb(155, 155, 155);
  color: #fff;
  box-shadow: 0 0 1rem -0.4rem #000;
}

.back:active {
  background-color: #fff;
  color: #000;
}

.back:hover {
  background-color: #0066ff;
  color: #fff;
}

.itemCounter {
  background-color: #0066ff;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem -0.6rem #000;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.emptyCartContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text {
  text-align: center;
}

.btn {
  border: none;
  padding: 1rem;
  background-color: #0066ff;
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  cursor: pointer;
}

.cartProductContainer {
  margin-top: 2rem;
  width: 100%;
  height: 44rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.cartProductCard {
  display: flex;
  gap: 1rem;
}

.cartProductImage {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: -0.1rem 0.5rem 1rem -0.5rem rgb(6, 105, 255);
}

.cartProductDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameAndPrice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cartProductName {
  width: 30rem;
}

.green {
  color: green;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantityDescription {
  background-color: #fff;
  width: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0 0 1rem -0.6rem #000;
}

.minus {
  box-shadow: 0 0 1rem -0.6rem #000;
  padding: 0.1rem;
  background-color: #ffffff;
  text-align: center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.minus:active {
  background-color: #0066ff;
  color: #ffffff;
}

.num {
  margin: 0 1rem;
}

.plus:active {
  background-color: #0066ff;
  color: #ffffff;
}
.plus {
  box-shadow: 0 0 1rem -0.6rem #000;
  padding: 0.1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.cartRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  background-color: #0066ff;
  color: #fff;
  box-shadow: 0 0 1rem -0.4rem #000;
}

.cartRemove:active {
  background-color: #fff;
  color: #000;
}

.cartRemove:hover {
  background-color: #f50000;
  color: #fff;
}

.cartStripeAndTotal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totalPrice {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.stripe {
  background-color: #0066ff;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem -0.4rem #000;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.stripe:hover {
  border: none;
  background-color: #0243a3;
}

.stripe:active {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 1rem -0.4rem #000;
}

.clearAll {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem -0.6rem #000;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.clearAll:hover {
  border: none;
  background-color: #7e0505;
}

.clearAll:active {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 1rem -0.4rem #000;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 668px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .cartProductContainer {
    padding: 1rem;
    height: 40rem;
  }

  .cartProductName {
    width: 20rem;
  }
}
