.ProductCredentials {
  width: 100%;
  padding: 0 1rem;
  margin-inline: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  overflow-x: hidden;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.productSection {
  display: flex;
  gap: 2rem;
}

.imageSection {
  padding: 0rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price {
  color: rgba(0, 196, 16, 0.644);
  font-weight: bold;
  font-size: 1.5rem;
}

.quantityContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quantityDescription {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0 0 1rem -0.6rem #000;
}

.minus {
  /*border-right: 0.1rem solid #000;
  */
  box-shadow: 0 0 1rem -0.6rem #000;
  padding: 0.1rem;
  background-color: #ffffff;
  text-align: center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.minus:active {
  background-color: #0066ff;
  color: #ffffff;
}

.plus:active {
  background-color: #0066ff;
  color: #ffffff;
}

.num {
  margin: 0 1rem;
}

.plus {
  box-shadow: 0 0 1rem -0.6rem #000;
  padding: 0.1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.image {
  height: auto;
}

.addToCart {
  width: 10rem;
  padding: 1rem;
  border: none;
  border: none;
  background-color: #fff;
  color: rgb(0, 68, 255);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 1rem -0.6rem #000;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.addToCart:active {
  background-color: rgb(0, 68, 255);
  color: #fff;
}

.buyNow {
  width: 10rem;
  padding: 1rem;
  border: none;
  border: none;
  background-color: rgb(0, 68, 255);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 1rem -0.6rem #000;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.buyNow:active {
  background-color: #fff;
  color: rgb(0, 68, 255);
}

.font {
  font-weight: 200;
  font-size: 1.3rem;
}
.nameInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid #000;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  width: 11rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.back:hover {
  background-color: #0066ff;
  color: #fff;
}

.back:hover .icon {
  background-color: white;
  color: #000;
  font-weight: 800;
  padding: 0.1rem;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
}

.img {
  width: 100%;
  max-width: 30rem;
  max-height: 30rem;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.otherImg {
  display: flex;
  gap: 1rem;
}

.smallImage {
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  /*border: 0.1rem solid rgba(0, 0, 0, 0.2);*/
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  user-select: none;
}

.active {
  border: 0.1rem solid rgba(0, 38, 255, 0.3);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 0 1rem -0.6rem #000;
}

.hide {
  width: 30rem;
  max-width: 25rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgba(0, 68, 255, 0.3);
  box-shadow: 0 0 1rem -0.6rem #000;
  user-select: none;
}

.productComment {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0 1rem -0.8rem #000;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.formContainer,
.form,
.inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formHeader {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.inputContainer {
  gap: 0.3rem;
  margin-top: 1rem;
}

.text {
  font-size: 1.1rem;
  font-weight: 500;
}

.input {
  width: 20rem;
  padding: 1rem;
  border: none;
  font-family: 'Inter';
  font-size: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1rem -0.5rem #000;
  background-color: rgb(130, 255, 172);
  color: #000;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  resize: vertical;
}

.input:focus {
  background-color: #6a9deb;
  color: #fff;
  outline: none;
}

.checkboxContainer {
  margin-top: 1rem;
  width: 20rem;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 2rem;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.comment {
  height: 10rem;
  resize: none;
}

.CommentButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submitted {
  color: rgb(255, 255, 255);
  width: 20rem;
  font-weight: 500;
  width: fit-content;
  background-color: rgb(6, 63, 219);
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  margin: 0.8rem;
}

.commentSectionBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  border-top: 0.01rem solid rgba(0, 0, 0, 0.4);
}

.headerComment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.commentNumber {
  font-size: 3rem;
  font-weight: 500;
}

.commentBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: #e4e3e3; */
}

.userAndProduct,
.commentProductImgAndName,
.userComment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commenterName {
  padding: 0.3rem;
  margin: 0.2rem 0;
  background-color: rgb(108, 240, 159);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.commentProductImgAndName {
  padding: 0.3rem;
  margin: 0.2rem 0;
  background-color: rgb(108, 165, 240);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.userAndProduct {
  gap: 0.5rem;
}

.commentProduct {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.1rem solid #333;
}

.commentText {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #e4e3e3;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  width: 30rem;
  height: auto;
}

@media (max-width: 875px) {
  .productSection {
    flex-direction: column;
  }
}

@media only screen and (max-width: 515px) {
  .hide {
    width: 100%;
    max-width: 25rem;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid rgba(0, 68, 255, 0.3);
    box-shadow: 0 0 1rem -0.6rem #000;
    user-select: none;
  }
}

@media only screen and (max-width: 722px) {
  .headerText {
    margin-top: 0.4rem;
    font-size: 2rem;
  }

  .commentBox {
    width: 100%;
  }

  .userAndProduct {
    justify-content: flex-start;
  }

  .commentProductImgAndName {
    display: none;
  }

  .userComment {
    padding: 0 1rem;
    width: 100%;
    height: auto;
  }

  .commentText {
    width: 15rem;
    height: auto;
  }

  .input {
    width: 100%;
  }
}

@media only screen and (max-width: 485px) {
  .headerComment {
    display: flex;
    justify-content: center;
  }
  .headerText {
    margin-top: 0.4rem;
    font-size: 1rem;
  }
  .input {
    width: 10rem;
  }

  .commenterName,
  .commentText {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 297px) {
  .headerComment {
    display: flex;
    justify-content: center;
  }
  .headerText {
    margin-top: 0.4rem;
    font-size: 1rem;
  }
  .input {
    width: 10rem;
  }

  .commenterName,
  .commentText {
    font-size: 0.8rem;
  }

  .commentText {
    width: 10rem;
    height: auto;
  }
}
